   <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full  px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
        >
        <div id="left">
            <div class="sub_item" (click)="openProductDetails()">
                <!-- <img src="../../../assets/images/Doraemon/Do1.jpg" alt="logo item"> -->
                <p class="ten"><a href="/product-details"> DORAEMON TẬP 1: CHÚ KHỦNG LONG CỦA NOBITA </a></p>
                <p class="gia">16.000đ</p>
            </div>
            <div class="sub_item">
                <!-- <img src="../../../assets/images/Conan/Co1.jpg" alt="logo item"> -->
                <p class="ten"><a href="#"> THÁM TỬ LỪNG DANH CONAN TẬP 1</a></p>
                <p class="gia">16.000đ</p>
            </div>
            <div class="sub_item">
                <!-- <img src="../../../assets/images/OnePiece/One1.jpg" alt="logo item"> -->
                <p class="ten"><a href="#"> ONEPIECE TẬP 1: ROMANCE DAWN - BÌNH MINH CỦA CUỘC PHIÊU LƯU</a></p>
                <p class="gia">20.000đ</p>
            </div>
            <div class="sub_item">
                <!-- <img src="../../../assets/images/TiengAnh/TA1.jpg" alt="logo item"> -->
                <p class="ten"><a href="#"> LÀM THẾ NÀO ĐỂ TỰ HỌC TIẾNG ANH THÀNH TÀI</a></p>
                <p class="gia">85.000đ</p>
            </div>
            <div class="sub_item">
                <!-- <img src="../../../assets/images/VanHoc/VH1.jpg" alt="logo item"> -->
                <p class="ten"><a href="#"> HOÀNG TỬ BÉ</a></p>
                <p class="gia">50.000đ</p>
            </div>
            <div class="sub_item">
                <!-- <img src="../../../assets/images/Shin/Shin1.jpg" alt="logo item"> -->
                <p class="ten"><a href="#"> SHIN - CẬU BÉ BÚT CHÌ TẬP 1</a></p>
                <p class="gia">16.000đ</p>
            </div>
        </div>
        <div id="right">
            <!-- <img src="../../../assets/images/QC.jpeg" alt="QC1"><br> -->
            <!-- <img src="../../../assets/images/QC2.jpg" alt="QC2"> -->
        </div>
        </div>
      </div>
    </div>
  </div>
  
  